<%- include('./partials/header.ejs') %>

    <ul>
      <% for(let i = 0; i < cryptids.length; i++) {
    
      %>
        <li>
          <a class="head" href="/cryptids/<%= cryptids[i].id %>"> <%= cryptids[i].name %><br></a>
  
            <a href="/cryptids/<%= cryptids[i].id %>"><img class="index-img" src="<%= cryptids[i].image %>" alt=""><br>
           </a>
  
         </li>
      <% } %>
    </ul>


    
<%- include('./partials/footer.ejs') %>