<%- include('./partials/header.ejs') %>
    <h1 class="head"><%= cryptid.name %></h1>
    <div id="showTop"> <img id="show-img" src="<%= cryptid.image %>" alt="">
    <table id="tableTop">  
    <tr><th>Region:</th><th><%= cryptid.region %></th></tr>
    <tr><th>Year of Discovery:</th><th><%= cryptid.yearFirstSeen %></th></tr>
    <tr><th>First Sighting:</th><th><%= cryptid.firstSightingLocation %></th></tr>
    <tr><th>Sightings(EST):</th><th><%= cryptid.sightings %></th></tr>
</table>
   </div>
<div id="showBot">
   <table id="tableBottom">  
    <tr><th class="info">Info:</th><th class="info"><%= cryptid.description %></th></tr>
    <tr><th>Tags:</th><th><%   for(let i = 0; i < cryptid.tags.length; i++) { %> <%= cryptid.tags[i]  %>,<% } %></th></tr>
</table>
</div>


<p id="comments">
<h1 id="commentHead">Comments:</h1>
<form id="commentField" action="/cryptids/<%= cryptid.id %>/comment?_method=PUT" method="POST">
 <input type="text" name="message"/>
  <input type="submit" class="button" name="" value="Post Comment"/>
</form>
<div id="commentContain">
<ul id="comments">
  <%   for(let i = 0; i < cryptid.comment.length; i++) {

  %>
    <li id="comment">
      <%= cryptid.comment[i].username %><br> 
       <%= cryptid.comment[i].message %><br>
        <%= cryptid.comment[i].date %><br>
       <br>
       <br>
</li>
  <% } %>
</ul>
</div>
</p> 
<span id="bottomButtons">
  <% if  (cryptid.approved === false){ %> <form action="/cryptids/<%= cryptid.id %>/approve?_method=PUT" method="POST">
  <input id="approvalButton"  type="submit" value="APPROVE" %>
  <% } %>
<form action="/cryptids/<%=cryptid.id%>?_method=DELETE" method="POST"><input type="submit" class="button" value="DELETE" /></form>
   <a href="/cryptids/<%=cryptid.id%>/edit">
<button class="button">EDIT</button></a>
</span>
<%- include('./partials/footer.ejs') %>
